html,
body {
  height: 100%;
}
body {  
    background: url("./backgorund.jpg") no-repeat center;
    background-size: cover;

    font-family: sans-serif;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
  
main {
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);

    box-sizing: border-box;
    padding: 20px;

    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

    text-align: center;
}
.current-time {
  width: 100%;
  height: 100%;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: 100px;
  font-weight: bold;
  color: #222222;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}